/* common */
.home-alerts {
    margin-bottom: 20px;
}

/* page1.html */
.app-lozenge.alert-summary {
    border-color: #ff6e6e;
}

.app-lozenge.alert-summary > .alert-header {
  margin: 0;
  background-color: #ff6e6e;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.home-alerts div {
  margin: 2px;
}

.alert-header-title {
   flex-grow: 1;
}

/* page2.html */
.alert-action-btns {
    display: flex;
}

.alert-action-btns p {
    flex-grow: 1;
    text-align: center;
    background-color: lightgrey;
    margin-left: 2px;
    margin-right: 2px;
}

.family-app-alerts-input {
    border: 1px solid lightgray;
    padding-left: 6px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: grey;
    font-family: helvetica,verdana,sans-serif!important;
    font-size: 14px;
}

.family-app-alerts-savebtn {
  background: lightgray;
  width: 100%;
  padding: 5px;
  font-family: helvetica,verdana,sans-serif!important;
  font-size: 16px;
}

.app-lozenge.alert-summary > .ai-header {
  margin: 0;
  background-color: lightgray;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

/* page3.html */
.family-app-alerts-textarea{
    width: 100%;
    padding: 5px;
}

.natconf-demo-ai-collapsed-header {
    border-radius: 7px;
}

.natconf-demo-ai-collapsed {
    display: none;
}